.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.content .post .post_image {
  height: 260px;
  width: 100%;
  background-size: 100%;
}

.post {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  min-height: 500px;
  background: white;
}

.container .post a {
  text-decoration: none;
}